body{
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.fundo{
    width: 380px;
    height: 700px;
    background: #243b6b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.login{
    width: 320px;
    height: 600px;
    background: #fff0a8;
    border-radius: 70px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icone{
    font-size: 90px;
    color: #243b6b;
    margin-bottom: 50px;
}

input{
    width: 280px;
    padding: 10px;
    margin-bottom: 25px;
    border: none;
    border-radius: 20px;
    background: #243b6b;
    color: white;
    text-align: center;
    font-size: 20px;
    outline: none;
}

input::placeholder{
    color: #fff0a8;
}

.botao{
    width: 220px;
    padding: 15px;
    background: #243b6b;
    color: #fff0a8;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
}

.botao:hover{
    background: #1b2f57;
}