body {
    background-color: #213657;
    text-align: center;
    color: #FFF3A2;
    font-family: "Emblema One";
}
h2 {
    text-align: start;
    margin-top: 50px;
    height: 10px;
}
.container {
    display: flex;
    justify-content:flex-start;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 23px;
    margin-left: 30px;
    align-items: center;
}
.caixas {
    background-color: #223b64;
    margin-top: 5px;
    width: 211px;
    padding: 10px;
    border-radius: 10px;
    box-shadow:#355486;
    text-align: center;
    margin-left: 34px;
    color: #FFF3A2;
}
.botao-container {
    margin-top: 30px;
    max-width: 20px;
    margin-left: 118px;
}
.botao {
    background-color: #FFF3A2; 
    color: #213657;              
    border: none;  
    font-family: "Emblema One";            
    padding: 10px 20px;       
    font-size: 16px;          
    border-radius: 20px;        
    cursor:pointer;   
}
.botao:hover {
    background-color: #d4c668; 

  }