body {
    background-color: #1d3356;
    text-align: center;
    color: #FFF3A2;
    font-family: "Emblema One";
    box-shadow: 0 4px 20px rgba (0,0,0,0,3);
}
h2 {
    text-align: start;
    margin-top: 50px;
    height: 10px;
}
.container {
    display: flex;
    justify-content:flex-start;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 23px;
    margin-left: 30px;
    align-items: center;
}
.caixas {
    background-color: #23395d;
    margin-top: 5px;
    width: 211px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba (0,0,0,0,3);
    text-align: center;
    margin-left: 34px;
    color: #FFF3A2;
}
.botao-container {
    margin-top: 30px;
    max-width: 20px;
    margin-left: 118px;
}
.botao {
   background-color: #FFF3A2; 
    color: #23395d;              
    border: none;  
    font-family: "Emblema One";            
    padding: 10px 20px;       
    font-size: 16px;          
    border-radius: 100px;       
    cursor: pointer;   
}
.botao:hover {
    background-color: #d4c668; 
}